<div class="bootstrap-wrapper mt-4">
    <div class="container">
        <div class="row">
             <form class="d-flex justify-content-center mb-3" (ngSubmit)="search()">
                <input [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" class="form-control me-2" style="width: 40%;" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
      <div *ngIf="products.length === 0" class="text-center">
        <p>No products found with the name "{{ searchTerm }}"</p>
      </div>
            <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let pro of products"> 
                <div class="card mb-4">
                    <img *ngIf="pro.img" [src]="'data:image/jpeg;base64,' + pro.img" class="card-img-top img-fluid" alt="Product Image" style="object-fit: cover; height: 200px;" /> <!-- Responsive image -->
                    <div class="card-body">
                        <div class="headings" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
                            <p [routerLink]="['/customer/view',pro.id]">ProductName: <b>{{ pro.name }}</b></p>
                            <p>categoryName: <b>{{ pro.categoryName }}</b></p>
                        </div>
                        <p class="card-text">Description: {{ pro.description }}</p>
                        <p class="card-text"><small class="text-muted"><b>Price:</b><b> {{ pro.price | currency  }}</b></small></p>
                        <div class="buttons" style="display: flex; justify-content: center; flex-wrap: wrap; padding-top: 20px; padding-bottom: 20px; width: 100%; padding-left: 20px; padding-right: 20px;">
                            <button type="button" class="btn btn-primary" [routerLink]="['/customer/card']" (click)="addToCard(pro.id)">Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>