<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8 col-sm-10" style="margin: auto;">
                <img src="images/signup.webp" alt="Signup Image" class="img-fluid">
                <form>
                    <div class="form-group mt-3">
                        <label for="name">UserName</label>
                        <input [(ngModel)]="signupRequest.name" type="text" class="form-control" placeholder="Enter the name of the User" name="name" required />
                    </div>
                    <div class="form-group mt-3">
                        <label for="email">Email</label>
                        <input [(ngModel)]="signupRequest.email" type="email" class="form-control" placeholder="Enter the email of the User" name="email" required />
                    </div>
                    <div class="form-group mt-3 position-relative">
                        <label for="password">Password</label>
                        <input [(ngModel)]="signupRequest.password" name="password" class="form-control" [type]="isPasswordVisible ? 'text' : 'password'" id="password" placeholder="Enter a Password here" required>
                        <i class="eye-icon" (click)="togglePassword()" style="position: absolute; right: 10px; top: 70%; transform: translateY(-50%); color: black; cursor: pointer;">
                            {{ isPasswordVisible ? '🙈' : '👁️' }}
                        </i>
                    </div>
                    <div class="button mt-4">
                        <button type="button" class="btn btn-primary btn-block" (click)="submit()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
