.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa; /* Light background color for the card */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    margin-bottom: 20px;
  }
  
  .card-img-left {
    width: 150px; /* Fixed width for the image */
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
  }
  
  .card-content {
    flex: 1; /* Allow content to take up the remaining space */
  }
  
  .card-content label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  
  .card-content .form-group {
    margin-bottom: 15px;
  }
  
  
  @media (max-width: 768px) {
    .card-container {
      flex-direction: column;
      text-align: center;
    }
  
    .card-img-left {
      width: 50%; /* Full width image on smaller screens */
      margin: 0 0 20px 0; /* Margin below the image */
    }
  
    .card-content {
      text-align: center;
    }
  }
  .wishlist-icon svg path {
    fill: black; /* Default color */
    transition: fill 0.3s ease;
  }
  
  .added-to-wishlist svg path {
    fill: red; /* Change to red when added to wishlist */
  }
  
  