<div class="bootstrap-wrapper" style="margin-top: 50px;">
    <div class="container">
        <div class="text-center">
            <h3 class="mb-4">Add Coupon</h3>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-10 col-sm-12 mx-auto">
                <div *ngIf="successMessage" class="alert alert-success">
                    {{ successMessage }}
                </div>
                <div *ngIf="errorMessage" class="alert alert-danger">
                    {{ errorMessage }}
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input [(ngModel)]="coupon.name" type="text" class="form-control" placeholder="Enter the name of the Coupon" name="name" required />
                </div>
                <div class="form-group">
                    <label>Code</label>
                    <textarea [(ngModel)]="coupon.code" class="form-control" name="code" placeholder="Enter a code here" required></textarea>
                </div>
                <div class="form-group">
                    <label>Discount</label>
                    <input [(ngModel)]="coupon.discount" type="number" class="form-control" placeholder="Enter the discount" name="discount" required />
                </div>
                <div class="form-group mb-4">
                    <label>Expiration Date</label>
                    <!-- Angular Material Datepicker -->
                    <input matInput [(ngModel)]="coupon.expirationDate" [matDatepicker]="picker" placeholder="Select a date" class="form-control">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </div>
                <div class="d-flex justify-content-between flex-wrap">
                    <button type="button" class="btn btn-primary" (click)="addCoupon()">Add Coupon</button>
                    <button type="button" class="btn btn-danger" (click)="resetForm()">Clear</button>
                </div>
            </div>
        </div>
    </div>
  </div>

  
  
